<!DOCTYPE html>
<html>
<head>
    <%- include('./samples/head'); %>  
    <title>Типы питания</title>

</head>
<body>
    <header>
        <%- include('./samples/header-x'); %>
    </header>

<h1><i>Основной вариант стандартной диеты (ОВД)</i></h1>

    <div class="container">
        <div class="row">
            <div class="card col-3 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Диета 1</h5>
                    <p class="card-text">Цель: похудеть</p>
                    <p class="card-text">Характер диеты: строгий</p>
                    <p class="card-text">Энергетическая ценность: X ккал.</p>
                </div>
            </div>
            <div class="card col-3 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Диета 2</h5>
                    <p class="card-text">Цель: похудеть</p>
                    <p class="card-text">Характер диеты: строгий</p>
                    <p class="card-text">Энергетическая ценность: X ккал.</p>
                </div>
            </div>
            <div class="card col-3 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Диета 3</h5>
                    <p class="card-text">Цель: похудеть</p>
                    <p class="card-text">Характер диеты: строгий</p>
                    <p class="card-text">Энергетическая ценность: X ккал.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <%- include('./samples/footer'); %>
    </footer>
</body>
</html>