<div class="footer">
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.74);">
      © 2023 Copyright:
      <a class="footer__brand" href="/">Санаторий Мечта</a>
    </div>
    <!-- Copyright -->
</div> 